<% title '新增用户' %>

<div class="headline">
  <h3>新增用户</h3>
</div>

<%= render 'form_admin', url_path: '/users/manager/create_admin' %>

<%= link_to '返回', search_users_users_manager_index_path, :class => 'btn-u' %>