
<div class="modal-footer container-fluid">
      <div id="footer-copyright" class="text-center">
        <p class="h5">闽ICP备14003546  © 2014 superhaitao.com</p>
        <p class="h5">超级海淘 最便捷的欧洲海淘服务提供商 All Rights Reserved </p>
      </div>
</div>