<% title '查看公告' %>

<div class="headline">
  <h3>查看公告</h3>
</div>

<div class="row">
  <div class="col-md-12" style="text-align:center;margin-left:auto; margin-right:auto;">
    <h2>
      <%= @news.title %>
    </h2>
  </div>
  <div class="col-md-10 col-md-offset-2">
    <h4>
      <%= @news.content %>
    </h4>
  </div>
</div>

<% if current_user.is_admin %>
    <%= link_to '编辑', edit_news_path(@news), class: 'btn-u' %>
    <%= link_to '返回', news_index_path, class: 'btn-u' %>
<% end %>