<% title '积分说明' %>

<div class="headline">
  <h1 class="color-blue">积分送送送！  购物爽爽爽！</h1>
</div>

<div class="headline">
  <h2>积分赚取</h2>
</div>

<ul class="list-group-item-heading">
  <li class="h4">
    注册送积分：只要您注册成功，分享到微博和微信朋友圈，同时@superhaitao和3个好友，我们后台工作人员审核之后，每个平台分享得10个积分。
    <p class="color-orange h4">如果没有关注Superhaitao的微博和微信，可以从我们的首页找到微博关注按钮和微信二维码。</p>
  </li>
  <li class="h4">
    完善资料送积分：只要您花半分钟完善您的个人资料，就可以自动得到20个积分。
  </li>
  <li class="h4">
    推荐送积分：只要您推荐的用户成功购买第一单，您就可以自动得到20个积分。
  </li>
  <li class="h4">
    购买送积分：您每购买100元的货品会获得一个积分。买的越多，得到的积分越多。
  </li>
  <li class="h4">
    分享送积分：当你购买一单成功之后，通过分享按钮进行微博和微信分享，微博分享要包含3张您所购买物品图片，同时@superhaitao和三个朋友，微信分享要@superhaitao。分享成功后，我们后台工作人员确认之后您可以每个平台分享得10分。
  </li>
</ul>


<div class="headline">
  <h2>积分使用</h2>
</div>

<ul class="list-group-item-heading">
  <li class="h4">
    一个积分相当于一元费用。积分可用于抵支付费用，在订单支付界面中您可以选择是否使用积分。
  </li>
</ul>