<% title '如何减少被税' %>

<div class="headline">
  <h1 class="color-blue">海淘进阶必看，减少被税攻略</h1>
</div>
<div class="headline">
  <h2>关于海外入境包裹的海关有关规定</h2>
</div>
<p class="h5">对于应收税额在50元以下的个人自用品免税。</p>
<p class="h5">价值超过1000元的物品退运处理。</p>
<p class="h5">最新规定入境包裹上要附两份商业发票。</p>
<p class="h5">对于应收税额在50元以下的个人自用品免税。</p>
<p class="h5">价值超过1000元的物品退运处理。</p>
<p class="h5">最新规定入境包裹上要附两份商业发票。</p>
<p class="h5">应收税额的计算方式 请参看
  <a href="http://www.customs.gov.cn/Portals/0/2010zsgg/12公告15fj2.doc" target="_blank" class="color-orange">《中华人民共和国进境物品完税价格表》</a>
</p>


<div class="headline">
  <h2>举例说明</h2>
</div>
<p class="h5">我们用奶粉做例子:</p>
<%= image_tag 'guide/tax_sample.png'%>

<p class="h5">1千克奶粉的完税价格是200元，税率是10%，对应的税就是20元。如果您的包裹里有2.5千克的奶粉，
  那么应缴税为 200元*2.5千克*10% 为50元，也就是说，您的包裹里如果只有2.5千克的奶粉，那么这个包裹是免税的，海关会立刻放行。
  但是如果只购买2.5千克的奶粉，邮费就显得十分高昂了，那么如果我们愿意交税是不是就可以多买一些奶粉呢？这时就要参考第二条，价值是否超过1000元。</p>


<p class="h5">同样是奶粉，每千克的完税价格是200元，如果您购买5千克奶粉的话，就是200元*5千克=1000元，也就是说，您的包裹里的奶粉重量超过5千克，海关就可以有理由退运您的包裹。
  如果您购买2.5千克以上，5千克以下的奶粉，比如3.5千克，应交税为200元*3.5千克*10%=70元，免税额为50元，那么您可以通过交付海关70元-50元=20元税款取回您的包裹。</p>

<p class="h5">对于某些在价格表里没有固定完税价格的商品，海关人员会酌情收税，2014年起所有的包裹都要求附商业发票，这类商品很可能会以发票价格作为完税价格。</p>

<p class="h5">我们可以将海关的规定简单的表达为</p>
<p class="h5">物品A完税价格*物品A税率+物品B完税价格*物品B税率+...+物品N完税价格*物品N税率 小于等于50元时免税。</p>

<p class="h5">物品A完税价格+物品B完税价格+...+物品N完税价格 大于等于1000时海关就有理由退运您的包裹。</p>

<p class="h5">总价值小于1000元，应缴税高于50元时需补交差额税款。</p>

<p class="h5">另外对于大型不可分割的单品，价值超过1000元但为自用时，仍然可以交税放行。</p>

<p class="h5">不同海关在执行力度上各有不同，但是法规是确定的，我们不应该存在侥幸心理，因为一旦被退运，损失将远远大于可能省下的邮费。
而当您严格按照海关规定托运包裹，您会发现海淘真的是一件简单而愉快的事情。</p>

<div class="headline">
  <h2>小技巧</h2>
</div>
<p class="h5">您可以将一些单位重量税率高的商品和产品很重，但是税率比较低的产品放在一起，比如奶粉和果泥。</p>
<p class="h5">您可以多选择国内价值高而且重的单品，比如WMF的厨具，Cybex的安全座椅。</p>
<p class="h5">5到10kg的包裹通关最容易，性价比最高。</p>
<p class="h5">如果您需要的量比较大的话，您也可以咨询我们的其他通关途径。</p>

<p class="h5">关于海淘的一切疑问，您都可以询问超级海淘的工作人员，我们随时准备好为您服务。</p>



